<div class="card" style="width: 18rem;">
    <div id="board-{{id}}" style="width: 18rem;"></div>
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" (click)="onClick('left')" [attr.disabled]="isDisabled('left')">
            <fa-icon [icon]="chevronLeft"></fa-icon>
        </button>
        <button class="btn btn-secondary" (click)="onClick('right')" [attr.disabled]="isDisabled('right')">
            <fa-icon [icon]="chevronRight"></fa-icon>
        </button>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <div innerHTML="{{ card.description }}"></div>
    </div>
</div>
