<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarTacticDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tactics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarTacticDropdown">
            <a class="dropdown-item" [routerLink]="['tactics', 'overview']">Overview</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['tactics', 'fork']">Fork</a>
            <a class="dropdown-item" [routerLink]="['tactics', 'pin']">Pin</a>
            <a class="dropdown-item" [routerLink]="['tactics', 'skewer']">Skewer</a>
            <a class="dropdown-item" [routerLink]="['tactics', 'discovered']">Discoverd Attack</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarMateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Checkmates
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarMateDropdown">
              <a class="dropdown-item" [routerLink]="['mates', 'overview']">Overview</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['mates', 'ladder']">Ladder</a>
              <a class="dropdown-item" [routerLink]="['mates', 'battery']">Battery</a>
              <a class="dropdown-item" [routerLink]="['mates', 'queen']">Queen</a>
              <a class="dropdown-item" [routerLink]="['mates', 'rook']">Rook</a>
              <a class="dropdown-item" [routerLink]="['mates', 'smothered']">Smothered</a>
            </div>
        </li>

      </ul>
    </div>
  </nav>